.faq__title {
    padding: 2rem 1rem;
}

.rectangle {
    content: '';
    width: 50px;
    height: 6px;
    background-color: var(--color-primary);
    margin-bottom: 2rem;
}

.faq__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.faq2__section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../../../src/assets/faq_bg.jpg");
    color: white;
}

.faq2__section h3 {
    color: white;
}

.rectangle__white {
    background-color: white;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========*/

@media screen and (min-width: 600px){
    .faq__section {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

@media screen and (max-width: 1024px){
    .faq__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========*/

@media screen and (max-width: 600px){
    .faq__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

}