@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-text-grey: #272727;
    --color-primary: #490144;
}

body {
    /* background: black;
    color: white; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 5rem;
    font-weight: 300;
}

h2 {
font-weight: 200;
}

h3, h4 {
    color: var(--color-text-grey);
    font-weight: 700;
}



